:root { --mavi: #2096da }
header {
    background-color: #1a1a1c;
    border-bottom: 5px solid var(--mavi);
}
nav {
    display: grid;
    grid-template-rows: 60px 160px 70px;
    text-align: center;
    padding: 20px 0 0 0;
}
#logo {
    display: inline-grid; 
    justify-content: center;
    align-content: center;
    background: var(--mavi)
}
#menu li { padding: 5px 0;  }
#menu li a {
    transition: 0.5s;
    font: 1.13em 'Caviar Dreams';
    color: #fff;
    text-transform: uppercase;
    padding: 6px 10px;
}
#phone {
    font: .8em 'MuseoModerno';
    color: #7f7c7c;
}
#socialicon a {
    opacity: 0.6;
    transition: 1s;
    display: inline-grid;
    width: 25px;
    height: 25px;
    background-color: #7f7c7c;
    border-radius: 13px;
    color: #fff;
    background: #2c2c2c;
    justify-content: center;
    align-items: center;
}
main { background: url(../img/mainbg.jpg); }
main .container {
    display: grid;
    gap: 15px;
    width: 80%;
    margin: auto;
    grid-template-rows: 50vh 50vh 100vh 50vh 50vh
                        50vh 50vh 50vh 50vh 50vh 
                        100vh 50vh 50vh 50vh 50vh 50vh;
}
#item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#part {
    display: flex;
    text-align: center;
}
#foot1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
#foot1 img {
    width: 100%;
    height: 50vh;
    padding: 10px 0;
}
#img {padding: 0 27px;}
hr {
    opacity: 0.102;
    width: 55px;
    height: 1px;
    background-color: #fff;
    margin: auto;
}
#p {
    max-width: 170px;
    text-align: center;
    font: 1.5em Georgia;
    color: #777;
    font-style: italic;
}
#th {
    font: 1.1em 'Caviar Dreams';
    color: #c5c5c5;
}
#item2 {background: url(../img/item2.jpg) center/cover;}
#item3 {background: url(../img/item3.jpg) center/cover;}
#item4 {background: url(../img/item4.jpg) center/cover;}
#item5 {background: url(../img/item5.jpg) center/cover;}
#item6 {background: url(../img/item6.jpg) center/cover;}
#item8 {background: url(../img/item8.jpg) center/cover;}
#item10 {background: url(../img/item10.jpg) center/cover;}
#item11 {background: url(../img/item11.jpg) center/cover;}
#item12 {background: url(../img/item12.jpg) center/cover;}
#item13 {background: url(../img/item13.jpg) center/cover;}
#item16 {background: url(../img/item16.jpg) center/cover;}
#sclink {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
#sclink a {
    opacity: 0.5;
    display: inline-grid;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
    width: 80px;  
    height: 80px; 
    margin: 0 5px; 
    background-color: #212122; 
    color: #777; 
    transition: 0.5s;
}
footer { background-color: #1a1a1c; }
#part1 {
    padding: 40px 0;
    display: flex;
    text-align: center;
}
#com {
    font: .7em 'MuseoModerno';
    color: #777;
}
#texth {
    padding-top: 2px;
    font-size: .9em 'MuseoModerno';
    color: #c5c5c5;
}
#posts {
    display: flex;
    max-width: 273px;
    margin: auto;
    padding: 10px 0;
}
#pad {padding: 0 5px;}
#footsecmain {
    margin-top: -85px;
    padding: 50px 0;
}
#contactform {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
#input {
    font-size: .9em 'MuseoModerno';
    color: #c3c2c2;
    padding: 12px;
    background-color: #262627;
    margin: 5px 0;
    border: none;
}
#btn {
    opacity: 0.6;
    transition: 0.5s;
    font-size: .9em 'MuseoModerno';
    background-color: #262627;
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}
@media only screen and (min-width: 768px) {
    .container,  .section2 { 
        max-width: 960px;
        margin: auto;
    }
    .con {padding-top: 45px;}
    nav {
        margin: 0;
        padding: 0;
        height: 80px;
        grid-template-rows: auto 27px;
        grid-template-columns: 130px auto;
    }
    #logo {  grid-area: 1 / 1 / 3 / 2  }
    #contact { 
        padding: 5px 20px 0 0;
        display: grid;
        justify-content: end;
        align-content: start;
        grid-template-columns: auto auto;
        grid-area: 1 / 2 / 2 / 3 
    }
    #phone { padding: 5px 10px}
    #menu { 
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: end;
    }
    #menu > li { margin: 0 15px}
    #menu > li > a:hover { background: var(--mavi) }
    main .container {
        grid-template-columns: repeat(4,minmax(100px,230px)) ;
        grid-template-rows: repeat(5,230px);
    }
    #item3 { grid-area: 1 / 3 / 3 / 4; }
    #item10 { grid-area: 3 / 3 / 4 / 5; }
    #item11 { grid-area: 4 / 1 / 6 / 2; }
    #item16 { grid-area: 5 / 3 / 6 / 5; }
    #footsecmain {
        margin-top: -85px;
        display: flex;
        justify-content: space-between;
    }
    #foot1 {
        width: initial;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 20px;
    }
    #foot1 img {width: 70px; height: 70px; margin: 0 5px;}
    #contactform { width: initial; }
    #sclink a:hover { opacity: 1; }
    #btn:hover { opacity: 1; }
    #socialicon a:hover { opacity: 1; }
}
